- content_for(:title) { 'Contact' }
%h3.subheader Contact
%p
  Please contact us for an informal&mdash;and without commitment&mdash;conversation regarding your specific
  product requirements.
%p
  It's best to make contact by
  = succeed ';' do
    = mail_to("nigel@lemmata.co.uk", "e-mail", subject: "Contact through Web site", encode: "javascript")
  we promise to always reply promptly.
