%h1 Contact
%p
  Please get in touch for an informal&mdash;and without commitment&mdash;conversation about your requirements.
%p
  It's best to make contact by
  = succeed '.' do
    = mail_to("nigel@lemmata.co.uk", "e-mail", subject: "Contact through Web site", encode: "javascript")
