%h1 Lemmata
%p
  A Bristol-based Ruby on Rails Web development company founded by a software engineer from a computer science
  background.
%p
  We can meet your requirements for a Web development project, a prototype, a software library or an algorithm you need.
