%h1 Lemmata
%p A Bristol-based Ruby on Rails Web development company founded by a computer scientist and software engineer.
%p
  We can meet your requirements for a Web development project, a prototype, a traditional desktop application,
  a software library or an algorithm you need.
