- content_for(:title) { 'About' }
%h3
  Lemmata
  %small About us
%p
  A UK-based Agile consultancy founded by a software engineer from a computer science
  background.
%p
  We can meet your requirements for a Web application, a prototype, a software library, an algorithm, Agile
  analysis or Agile coaching with Scrum and
  %abbr{title: 'eXtreme Programming'} XP.
