- content_for(:title) { 'About' }
%h3
  Lemmata
  %small About us
%p
  A Bristol-based Agile software development firm founded by a software engineer with a computer science
  background.
%p
  We can meet your requirements for a Web application, a prototype, a software library, an algorithm or Agile
  analysis.
