- content_for(:title) { 'What' }
%h1 What can we do for you?
%p
  Our main focus is Ruby on Rails Web development using
  %abbr{title: 'Behaviour-driven Development'} BDD
  tools such as Cucumber. Cucumber ensures the acceptance tests can be read and created by
  anyone on the team. This helps us explore and understand the requirements.
%p
  We can contribute to large projects but will consider working on prototypes to secure funding for your
  idea&mdash;perhaps for company stock.
%p
  Our approach is Agile and aligned with what's in Eric Ries's
  %cite
    %a{href: 'http://theleanstartup.com/'} The Lean Startup: How Constant Innovation Creates Radically Successful Businesses
  and Jason Fried and David Heinemeier Hansson's
  %cite
    %a{href: 'http://37signals.com/rework/'} Rework.
%p
  We can provide Agile coaching, analysis, guidance on
  %abbr{title: 'eXtreme Programming'} XP
  techniques and seed your team with effective practices.
%p
  You can have your requirements gathered by an Agile analyst who knows how precise a specification needs to be
  before it can be converted into computer code.
%p
  Lastly, we're available for JavaScript/CoffeeScript and responsive HTML5/CSS3.
