%h1 What can we do for you?
%p
  Our main focus is Ruby on Rails Web development using
  %abbr{title: 'Behaviour-driven Development'} BDD
  tools and techniques such as Cucumber.
  We can work on large projects but will consider a small proof-of-concept demonstration to secure funding for your
  idea. We can work in return for company stock.
%p
  Our approach is Agile and aligned with what you'll find in Eric Ries's
  %em The Lean Startup: How Constant Innovation Creates Radically Successful Businesses
  and Jason Fried and David Heinemeier Hansson's
  %em Rework.
%p
  We can provide Agile coaching and guidance on eXtreme Programming techniques.
%p
  Business analysis and requirements gathering from a consultant who knows how precise a specification needs to be
  before it can be converted into computer code.
%p
  JavaScript/CoffeeScript and HTML5/CSS3.
