%h1 Who are we?
%p Lemmata's director is Nigel Lowry. Nigel holds computer science degrees from Nottingham and Bristol.
He started his career on the MOD's premier graduate scheme for engineers and scientists, becoming a project manager
after two years. After this he went back to coding and gained the SCJP and OCMJD Java certifications. Nigel now works
exclusively in Ruby on Rails.
