%h1 Who are we?
%p Lemmata's director is Nigel Lowry. Nigel has degrees in computer science from Nottingham and Bristol.
He started his career on the MOD's premier graduate scheme for engineers and scientists, becoming a project manager
after two years. After this he went back to coding and gained the Java SCJP and OCMJD certifications. Nigel now deals
exclusively in Ruby on Rails.
