// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

+font-face("Arbutus Slab", font-files("ArbutusSlab-Regular.ttf"))
+font-face("Quattrocento Sans", font-files("QuattrocentoSans-Regular.ttf"))

$serif-font: Arbutus Slab, serif // eqyptian (slab) serif
$sans-serif-font: Quattrocento Sans, sans-serif // transitional sans-serif

$color-base1: #0E53A7
$color-base2: #4284D3
$color-base3: #6899D3
$color-base4: #FF9C00

h1
  color: $color-base1
  font-family: $serif-font

h3
  color: $color-base2
  font-family: $serif-font

body
  font-family: $sans-serif-font
  //max-width: 510px // 350px=50 characters, 450px=65 characters, ideally 50--70
  //margin: auto

#content
  p
    &:first-of-type
      font-family: $serif-font

cite
  font-style: italic

ul.prose
  list-style-type: circle
  list-style-position: inside
  li
    &:after
      content: ';'
    &:nth-last-child(2):after
      content: '; and'
    &:last-child:after
      content: '.'
