// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Arbutus+Slab);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);

$serif-font: Arbutus Slab; // eqyptian (slab) serif
$sans-serif-font: Quattrocento Sans; // transitional sans-serif

$base-font-size: 16px;
$base-line-height: $base-font-size * 1.5;
@include establish-baseline;

$color-base1: #0E53A7;
$color-base2: #4284D3;
$color-base3: #6899D3;
$color-base4: #FF9C00;

h1 {
  font-family: $serif-font;
  $h1-font-size: $base-font-size * 3;
  @include adjust-font-size-to($h1-font-size);
  @include trailer(2, $h1-font-size);
  @include trailing-border(10px, 1, $h1-font-size);
  color: $color-base1;
}

h2 {
  font-family: $serif-font;
  @include adjust-font-size-to($base-font-size * 1.5);
  color: $color-base2;
}

#content {
  p {
    &:first-of-type {
      font-family: $serif-font;
    }

    @include leader(1);
    @include trailer(1);
    font-family: $sans-serif-font;
  }
}

footer {
  @include adjust-font-size-to($base-font-size * 0.75);
}
