// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Arbutus+Slab);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);

$serif-font: Arbutus Slab; // eqyptian (slab) serif
$sans-serif-font: Quattrocento Sans; // transitional sans-serif
$body-font-size: 16px;

h1 {
  font-family: $serif-font;
  font-size: $body-font-size * 3;
}

h2 {
  font-family: $serif-font;
  font-size: $body-font-size * 1.5;
}

body {
  font-size: $body-font-size;
  line-height: 1.5;
}

#content {
  p {
    &:first-of-type {
      font-family: $serif-font;
    }

    font-family: $sans-serif-font;
  }
}

footer {
  font-size: $body-font-size * 0.75;
}
