%footer#page_footer
  %p
    &copy;
    = surround '2008', "#{Time.zone.now.year}, Lemmata Ltd" do
      &ndash;
    is a company registered in England and Wales.
  %p
    Registered number: 06731292.
  %p
    Registered office: Unit 11, Hove Business Centre, Fonthill Road, Hove, East Sussex, BN3 6HA.
  %p
    VAT registration number: 941 4450 37.