%footer#page_footer
  .row
    .large-3.columns
      &copy;
      = surround '2008', "#{Time.zone.now.year}, Lemmata Ltd" do
        &ndash;
      is a company registered in England and Wales.
    .large-3.columns
      Registered number: 06731292.
    .large-3.columns
      Registered office: Unit 11, Hove Business Centre, Fonthill Road, Hove, East Sussex, BN3 6HA.
    .large-3.columns
      VAT registration number: 941 4450 37.