%footer#page_footer
  .large-12.columns
    %hr/
    .row
      .large-4.columns
        &copy;
        = surround '2008', "#{Time.zone.now.year}, Lemmata Ltd" do
          &ndash;
        is a company registered in England and Wales.
      .large-4.columns
        Registered number: 06731292.
      .large-4.columns
        VAT registration number: 941 4450 37.
    .row
      .large-6.columns
        = render 'layouts/registered_office'
      .large-6.columns
        = render 'layouts/registered_address'
