%footer#page_footer
  %hr/
  %small
    &copy;
    = surround '2008', "#{Time.zone.now.year}, Lemmata Ltd" do
      &ndash;
    is a company registered in England and Wales.
    Registered number: 06731292.
    VAT registration number: 941 4450 37.