%footer#page_footer
  %hr/
  %ul
    %small
      %li
        &copy;
        = surround '2008', "#{Time.zone.now.year}, Lemmata Ltd" do
          &ndash;
        is a company registered in England and Wales.
      %li
        Registered number: 06731292.
      %li
        VAT registration number: 941 4450 37.