%header#page_header{role: 'banner'}
  %nav.top-bar#main-nav{"data-topbar" => "", "role" => "navigation"}
    %ul.title-area
      %li.name
        %h1= link_to 'Lemmata', '#'
      %li.toggle-topbar.menu-icon= link_to 'Menu', '#'
    %section.top-bar-section
      / Right Nav Section
      %ul.right
        = render 'layouts/links'