%ul.vcard
  %li.fn.org Lemmata Limited (Registered Office)
  %li.extended-address Third Floor
  %li.street-address 86&ndash;90 Paul Street
  %li.locality London
  %li.postal-code EC2A 4NE
  %li.country-name UK
