%ul.vcard
  %li.fn.org Lemmata Ltd (Registered Address)
  %li.street-address 11 Junction Way
  %li.extended-address Mangotsfield
  %li.locality Bristol
  %li.region South Gloucestershire
  %li.postal-code BS16 9LA
  %li.country-name UK