%ul.vcard
  %li.fn.org Lemmata Ltd (Registered Office)
  %li.extended-address First Floor, Telecom House
  %li.street-address 125&ndash;135 Preston Road
  %li.locality Brighton
  %li.postal-code BN1 6AF
  %li.country-name UK
