%ul.vcard
  %li.fn.org Lemmata Ltd (Registered Office)
  %li.street-address Unit 11, Hove Business Centre, Fonthill Road
  %li.locality Hove
  %li.region East Sussex
  %li.postal-code BN3 6HA
  %li.country-name UK
