%ul.vcard
  %li.fn.org Lemmata Ltd (Registered Office)
  %li.extended-address Unit 11, Hove Business Centre
  %li.street-address Fonthill Road
  %li.locality Hove
  %li.postal-code BN3 6HA
  %li.country-name UK
